# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/assetWizardSettings.xml
/.idea/navEditor.xml
/.idea/caches
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build

# Built variants
*.apk
*.aar
*.bundle

# Log files
*.log

# Android Studio 3.0+
*.keystore
!debug.keystore
